@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
/* line 111, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  background: #ececec;
}

/* line 121, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 128, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#page .page-inner {
  max-width: 1200px;
  background: #fff;
  margin: 0 auto;
  overflow-x: hidden;
}

/* line 136, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}

/* line 140, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

/* line 153, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
a {
  color: #f54c53;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 156, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
a:hover, a:active, a:focus {
  color: #f54c53;
  outline: none;
  text-decoration: none;
}

/* line 162, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
p {
  margin-bottom: 20px;
}

/* line 166, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

/* line 172, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
::-webkit-selection {
  color: #fff;
  background: #f54c53;
}

/* line 177, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
::-moz-selection {
  color: #fff;
  background: #f54c53;
}

/* line 181, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
::selection {
  color: #fff;
  background: #f54c53;
}

/* line 186, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-container {
  max-width: 1100px;
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 195, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding: 0px 0 0 0;
  z-index: 1001;
  background: #fff;
}

@media screen and (max-width: 768px) {
  /* line 195, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-nav {
    padding: 20px 0;
  }
}

/* line 209, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav #gtco-logo {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 230px;
  height: 42px;
  display: block;
  background: url(../images/new-cli-logo.png) top left no-repeat;
}

/* line 219, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav a {
  padding: 5px 10px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* line 224, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-nav .menu-1, .gtco-nav .menu-2 {
    display: none;
  }
}

/* line 229, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul {
  padding: 0;
  margin: 2px 0 0 0;
}

/* line 232, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

/* line 237, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li a {
  font-size: 16px;
  padding: 30px 10px;
  color: #24273d;
  font-weight: 700;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 243, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li a:hover, .gtco-nav ul li a:focus, .gtco-nav ul li a:active {
  color: #e03631;
}

/* line 247, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown {
  position: relative;
}

/* line 249, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown {
  width: 130px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 0;
  text-align: left;
  background: rgba(46, 49, 70, 0.85);
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* line 265, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

/* line 280, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}

/* line 283, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}

/* line 286, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li a {
  padding: 2px 0;
  display: block;
  color: #fff;
  line-height: 1.2;
  text-transform: none;
  font-size: 15px;
}

/* line 293, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li a:hover {
  color: #f54c53;
}

/* line 298, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown .dropdown li.active > a {
  color: #000 !important;
}

/* line 305, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.has-dropdown:hover a, .gtco-nav ul li.has-dropdown:focus a {
  color: #e03631;
}

/* line 312, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.btn-cta a {
  color: #24273d;
}

/* line 314, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.btn-cta a span {
  border: 2px solid #e03631;
  padding: 4px 20px;
  color: #24273d;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

/* line 324, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.btn-cta a:hover span {
  background: #fff;
  color: #f54c53;
}

/* line 332, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav ul li.active > a {
  color: #e03631 !important;
}

/* line 339, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header {
  background: #fdd035;
}

@media screen and (max-width: 768px) {
  /* line 341, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header.gtco-cover {
    height: inherit !important;
    padding: 3em 0 !important;
  }
}

@media screen and (max-width: 480px) {
  /* line 348, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header .text-left {
    text-align: center !important;
  }
}

@media screen and (max-width: 480px) {
  /* line 354, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header .btn {
    display: block;
    width: 100%;
  }
}

/* line 359, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .mt-text {
  margin-top: 7em;
  margin-bottom: 3em;
}

@media screen and (max-width: 768px) {
  /* line 359, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header .mt-text {
    margin-top: 0;
  }
}

/* line 366, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .intro-text-small {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .15em;
  display: block;
  margin-bottom: 10px;
}

/* line 374, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header h1, #gtco-header h2 {
  margin: 0;
  padding: 0;
  color: white;
}

/* line 379, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  /* line 379, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

/* line 390, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* line 397, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap {
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}

/* line 404, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu {
  padding: 0 !important;
  margin: 0 0 -10px 0 !important;
  width: 100%;
  float: left;
  z-index: 12;
  position: relative;
}

/* line 411, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  float: left;
  width: 50%;
  text-align: center;
}

/* line 419, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li a {
  padding: 10px 20px 20px 20px;
  float: left;
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  color: #1a1a1a;
}

/* line 426, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li a:hover {
  color: #1a1a1a;
}

/* line 431, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li.active a {
  display: block;
  padding: 10px 20px 20px 20px;
  background: #fff;
  color: #f54c53;
}

/* line 439, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li.gtco-first a {
  border-top-left-radius: 7px;
}

/* line 444, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-menu li.gtco-second a {
  border-top-right-radius: 7px;
}

/* line 450, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-content {
  z-index: 10;
  position: relative;
  clear: both;
  background: #fff;
  padding: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 459, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-content .tab-content-inner {
  display: none;
}

/* line 461, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .form-wrap .tab-content .tab-content-inner.active {
  display: block;
}

/* line 469, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header,
#gtco-counter,
.gtco-bg {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}

/* line 477, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-bg {
  background-position: center center;
  width: 100%;
  float: left;
  position: relative;
}

/* line 484, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video {
  height: 450px;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

/* line 489, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video.gtco-video-sm {
  height: 250px;
}

/* line 492, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video a {
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 510, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
}

/* line 518, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 528, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
}

/* line 531, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-video:hover a {
  position: relative;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 542, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover {
  height: 900px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}

/* line 552, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover a {
  color: #f54c53;
}

/* line 554, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover a:hover {
  color: white;
}

/* line 558, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover .overlay {
  z-index: 1;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* line 567, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover > .gtco-container {
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  /* line 542, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover {
    height: 600px;
  }
}

/* line 575, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover .display-t,
.gtco-cover .display-tc {
  height: 900px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 575, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover .display-t,
  .gtco-cover .display-tc {
    height: 600px;
  }
}

/* line 585, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover.gtco-cover-sm {
  height: 600px;
}

@media screen and (max-width: 768px) {
  /* line 585, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover.gtco-cover-sm {
    height: 400px;
  }
}

/* line 590, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover.gtco-cover-sm .display-t,
.gtco-cover.gtco-cover-sm .display-tc {
  height: 600px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 590, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover.gtco-cover-sm .display-t,
  .gtco-cover.gtco-cover-sm .display-tc {
    height: 400px;
  }
}

/* line 600, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover.gtco-cover-xs {
  height: 500px;
}

@media screen and (max-width: 768px) {
  /* line 600, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover.gtco-cover-xs {
    height: inherit !important;
    padding: 3em 0;
  }
}

/* line 606, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-cover.gtco-cover-xs .display-t,
.gtco-cover.gtco-cover-xs .display-tc {
  height: 500px;
  display: table;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 606, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-cover.gtco-cover-xs .display-t,
  .gtco-cover.gtco-cover-xs .display-tc {
    padding: 3em 0;
    height: inherit !important;
  }
}

/* line 621, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-staff {
  text-align: center;
  margin-bottom: 7em;
  float: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 621, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-staff {
    margin-bottom: 3em;
  }
}

/* line 629, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-staff img {
  width: 100px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 634, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-staff h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

/* line 638, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-staff p {
  margin-bottom: 30px;
}

/* line 641, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-staff .role {
  color: #bfbfbf;
  margin-bottom: 30px;
  font-weight: normal;
  display: block;
}

/* line 649, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-social-icons {
  margin: 0;
  padding: 0;
}

/* line 652, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 657, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #f54c53;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 662, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-social-icons li a i {
  font-size: 20px;
}

/* line 669, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  position: relative;
}

/* line 674, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul {
  padding: 0;
  margin: 0;
}

/* line 677, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li {
  padding: 0 0 0 50px;
  margin: 0 0 30px 0;
  list-style: none;
  position: relative;
}

/* line 682, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li:before {
  color: #cccccc;
  position: absolute;
  left: 0;
  top: .05em;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 690, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li.address:before {
  font-size: 30px;
  content: "\e9d1";
}

/* line 696, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li.phone:before {
  font-size: 23px;
  content: "\e9f4";
}

/* line 702, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li.email:before {
  font-size: 23px;
  content: "\e9da";
}

/* line 708, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-contact-info ul li.url:before {
  font-size: 23px;
  content: "\e9af";
}

/* line 719, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
form label {
  font-weight: normal !important;
}

/* line 728, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .display-tc,
#gtco-counter .display-tc,
.gtco-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
}

/* line 731, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .display-tc .intro-text-small,
#gtco-counter .display-tc .intro-text-small,
.gtco-cover .display-tc .intro-text-small {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .15em;
  display: block;
  margin-bottom: 10px;
}

/* line 739, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .display-tc h1, #gtco-header .display-tc h2,
#gtco-counter .display-tc h1,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h1,
.gtco-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}

/* line 744, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .display-tc h1,
#gtco-counter .display-tc h1,
.gtco-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 59px;
  line-height: 1;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  /* line 744, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-header .display-tc h1,
  #gtco-counter .display-tc h1,
  .gtco-cover .display-tc h1 {
    font-size: 34px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

/* line 755, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-header .display-tc h2,
#gtco-counter .display-tc h2,
.gtco-cover .display-tc h2 {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* line 764, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter {
  text-align: center;
}

/* line 766, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter .counter {
  font-size: 50px;
  margin-bottom: 10px;
  color: #f54c53;
  font-weight: 100;
  display: block;
}

/* line 773, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter .counter-label {
  margin-bottom: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
  /* line 780, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-counter .feature-center {
    margin-bottom: 50px;
  }
}

/* line 786, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter .icon {
  width: 70px;
  height: 70px;
  text-align: center;
  margin-bottom: 20px;
  background: none !important;
  border: none !important;
}

/* line 793, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter .icon i {
  height: 70px;
}

/* line 795, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-counter .icon i:before {
  color: #cccccc;
  display: block;
  text-align: center;
  margin-left: 3px;
}

/* line 806, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-features,
#gtco-features-2,
#gtco-products,
#gtco-services,
#gtco-subscribe,
#gtco-footer,
.gtco-section {
  padding: 7em 0;
  clear: both;
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 806, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-features,
  #gtco-features-2,
  #gtco-products,
  #gtco-services,
  #gtco-subscribe,
  #gtco-footer,
  .gtco-section {
    padding: 2em 0;
  }
}

/* line 819, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-features.border-bottom,
#gtco-features-2.border-bottom,
#gtco-products.border-bottom,
#gtco-services.border-bottom,
#gtco-subscribe.border-bottom,
#gtco-footer.border-bottom,
.gtco-section.border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

/* line 824, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-features-2 {
  background: #efefef;
  position: relative;
  float: left;
  width: 100%;
}

/* line 830, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-center {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  width: 100%;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  /* line 830, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .feature-center {
    margin-bottom: 50px;
  }
}

/* line 841, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-center .icon {
  width: 90px;
  height: 90px;
  display: table;
  text-align: center;
  margin: 0 auto 20px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 850, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-center .icon i {
  display: table-cell;
  vertical-align: middle;
  height: 90px;
  font-size: 40px;
  line-height: 40px;
  color: #cccccc;
}

/* line 860, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-center p, .feature-center h3 {
  margin-bottom: 30px;
}

/* line 863, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-center h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f54c53;
  position: relative;
}

/* line 871, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

/* line 877, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-left .icon {
  float: left;
  text-align: center;
  width: 15%;
}

/* line 881, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-left .icon i {
  display: table-cell;
  vertical-align: middle;
  font-size: 40px;
  color: #f54c53;
}

/* line 888, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-left .feature-copy {
  float: right;
  width: 80%;
}

/* line 895, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.feature-left .feature-copy h3 {
  font-size: 18px;
  color: #1a1a1a;
  margin-bottom: 10px;
}

/* line 905, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-heading {
  margin-bottom: 5em;
}

/* line 907, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}

/* line 910, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-heading h2 {
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-weight: 300;
  color: #000;
  position: relative;
}

@media screen and (max-width: 768px) {
  /* line 910, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-heading h2 {
    font-size: 26px;
  }
}

/* line 921, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-heading p {
  font-size: 20px;
  line-height: 1.5;
  color: gray;
}

/* line 928, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-products {
  background: #008ee0;
}

/* line 931, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-products .item img {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}

/* line 936, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-products .gtco-heading h2 {
  color: #fff;
}

/* line 939, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-products .gtco-heading p {
  color: rgba(255, 255, 255, 0.8);
}

/* line 946, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.description {
  font-size: smaller !important;
}

/* line 950, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe {
  background: #0098EF;
}

/* line 955, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control {
  background: transparent;
  color: #fff;
  font-size: 16px !important;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 962, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control:focus {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8) !important;
}

/* line 967, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control::-webkit-input-placeholder {
  color: #fff;
}

/* line 971, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

/* line 975, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

/* line 979, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-control:-ms-input-placeholder {
  color: #fff;
}

/* line 985, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .btn {
  height: 46px;
  border: none !important;
  background: #f54c53;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 997, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}

/* line 1000, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .form-inline .form-group .form-control {
  width: 100%;
}

/* line 1006, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .gtco-heading {
  margin-bottom: 30px;
}

/* line 1008, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .gtco-heading h2 {
  color: #fff;
}

/* line 1011, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-subscribe .gtco-heading p {
  color: rgba(255, 255, 255, 0.5);
}

/* line 1018, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-footer-links {
  padding: 0;
  margin: 0 0 20px 0;
  float: left;
  width: 100%;
}

/* line 1023, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-footer-links li {
  padding: 0;
  margin: 0 0 15px 0;
  list-style: none;
  line-height: 1;
}

/* line 1028, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-footer-links li a {
  text-decoration: none;
}

/* line 1030, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-footer-links li a:hover {
  text-decoration: underline;
}

/* line 1036, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-widget {
  margin-bottom: 30px;
}

/* line 1038, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* line 1045, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact {
  padding: 0;
  margin: 0;
}

/* line 1048, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}

/* line 1052, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .gtco-widget .gtco-quick-contact li i {
  width: 30px;
  float: left;
  font-size: 18px;
  position: relative;
  margin-top: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 1065, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .footer-logo span {
  color: #f54c53;
}

/* line 1070, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .copyright {
  color: #b3b3b3;
  padding-top: 3em;
  margin-top: 3em;
  border-top: 1px solid #f2f2f2;
}

@media screen and (max-width: 768px) {
  /* line 1075, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-footer .copyright .pull-left,
  #gtco-footer .copyright .pull-right {
    float: none !important;
    text-align: center;
  }
}

/* line 1083, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-footer .copyright .block {
  display: block;
}

/* line 1091, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: black;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 45px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  /* line 1091, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  #gtco-offcanvas {
    display: block;
  }
}

/* line 1108, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.offcanvas #gtco-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

/* line 1111, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas a {
  color: rgba(255, 255, 255, 0.5);
}

/* line 1113, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* line 1117, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul {
  padding: 0;
  margin: 0;
}

/* line 1120, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul li {
  padding: 0 10px 15px 0;
  font-family: sans-serif;
  font-size: 22px;
  margin: 0;
  list-style: none;
}

/* line 1124, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}

/* line 1129, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
}

/* line 1132, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e921";
  font-size: 20px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 1144, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
#gtco-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

/* line 1158, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

/* line 1165, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 1173, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gototop.active {
  opacity: 1;
  visibility: visible;
}

/* line 1177, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 1185, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}

/* line 1191, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

/* line 1201, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
   
  text-decoration: none;
}

/* line 1207, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle.active i::before, .gtco-nav-toggle.active i::after {
  background: #444;
  
}

/* line 1211, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle:hover, .gtco-nav-toggle:focus, .gtco-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
  
}

/* line 1215, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle i {
  margin-top: 10px;
  position: fixed;
  display: inline-block;
  width: 25px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
  
}

/* line 1226, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle i::before, .gtco-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}

/* line 1237, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle.gtco-nav-white > i {
  color: #fff;
  background: #000000;
}

/* line 1240, D:/projects/AlphaMart/Capital Life/web/sass/style.scss 
.gtco-nav-toggle.gtco-nav-white > i::before, .gtco-nav-toggle.gtco-nav-white > i::after {
  background: #000000;
}*/

/* line 1247, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle i::before {
  top: -7px;
}

/* line 1250, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle i::after {
  bottom: -7px;
}

/* line 1253, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle:hover i::before {
  top: -10px;
}

/* line 1256, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle:hover i::after {
  bottom: -10px;
}

/* line 1259, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle.active i {
  background: transparent;
}

/* line 1262, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

/* line 1270, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

/* line 1278, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}

@media screen and (max-width: 768px) {
  /* line 1278, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-nav-toggle {
    display: block;
  }
}

/* line 1300, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 30px;
}

/* line 1309, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.btn-md {
  padding: 8px 20px !important;
}

/* line 1312, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.btn-lg {
  padding: 18px 36px !important;
}

/* line 1315, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

/* line 1320, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-primary {
  background: #f54c53;
  color: #fff;
  border: 2px solid #f54c53 !important;
}

/* line 1324, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f6646a !important;
  border-color: #f6646a !important;
}

/* line 1328, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-primary.btn-outline {
  background: transparent;
  color: #f54c53;
  border: 2px solid #f54c53;
}

/* line 1332, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #f54c53;
  color: #fff;
}

/* line 1338, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}

/* line 1342, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}

/* line 1346, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}

/* line 1350, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

/* line 1356, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}

/* line 1360, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}

/* line 1364, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}

/* line 1368, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

/* line 1374, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}

/* line 1378, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}

/* line 1382, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}

/* line 1386, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

/* line 1392, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}

/* line 1396, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}

/* line 1400, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}

/* line 1404, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

/* line 1410, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-white {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

/* line 1414, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  color: #000;
  background: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}

/* line 1419, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-white.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

/* line 1422, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-white.btn-outline:hover, .btn-white.btn-outline:focus, .btn-white.btn-outline:active {
  background: #fff;
  color: #000;
  border: 2px solid #fff;
}

/* line 1430, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1435, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

/* line 1440, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1443, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 1452, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.with-arrow:hover {
  padding-right: 50px;
}

/* line 1454, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

/* line 1463, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.1);
  height: 46px;
  font-size: 16px;
  font-weight: 300;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 1472, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #f54c53;
}

/* line 1478, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.row-mt-15em {
  margin-top: 15em;
}

@media screen and (max-width: 768px) {
  /* line 1478, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .row-mt-15em {
    margin-top: 7em;
  }
}

/* line 1484, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.mt-sm {
  margin-top: 6em;
}

@media screen and (max-width: 768px) {
  /* line 1484, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .mt-sm {
    margin-top: 3em;
  }
}

/* line 1490, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.row-pb-md {
  padding-bottom: 4em !important;
}

/* line 1493, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.row-pb-sm {
  padding-bottom: 2em !important;
}

/* line 1497, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/load.gif) center no-repeat #fff;
}

/* line 1508, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  /* line 1516, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .gtco-nav .gtco-contact {
    text-align: left !important;
  }
}

/* line 1520, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav .gtco-contact ul {
  padding: 0;
  margin: 0 0 20px 0;
}

/* line 1523, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav .gtco-contact ul li {
  padding: 0;
  margin: 0;
}

/* line 1526, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav .gtco-contact ul li a {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 0px;
}

/* line 1530, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav .gtco-contact ul li a i {
  color: #f54c53;
}

/* line 1534, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-nav .gtco-contact ul li a:hover i {
  color: #fff;
}

/* line 1545, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.gtco-flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  float: left;
}

/* Owl Override Style */
/* line 1554, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

/* line 1558, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -39px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 1568, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

/* line 1572, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

/* line 1575, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

/* line 1579, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

/* line 1582, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

/* line 1591, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #444;
}

/* line 1595, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000;
}

/* line 1603, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #fff;
}

/* line 1607, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* line 1614, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

/* line 1620, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

/* line 1622, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: #f54c53 !important;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 1629, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: #f54c53 !important;
}

/* line 1634, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* line 1640, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

/* line 1644, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #f54c53;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  border: 2px solid transparent;
}

/* line 1650, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #f54c53;
}

/* line 1655, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #f54c53;
}

/* line 1661, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item {
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  overflow: hidden;
  z-index: 9;
  bottom: 0;
  margin-bottom: 30px;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1674, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item figure {
  height: 240px;
  overflow: hidden;
  z-index: 12;
  position: relative;
}

/* line 1679, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item figure .overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

/* line 1690, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item figure .overlay i {
  z-index: 12;
  color: #fff;
  font-size: 30px;
  position: absolute;
  margin-left: -15px;
  margin-top: -45px;
  top: 50%;
  left: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1703, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item img {
  z-index: 8;
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 1708, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item .fh5co-text {
  padding: 0px 10px 10px 20px;
  text-align: center;
}

/* line 1711, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item .fh5co-text h2, .fh5co-project-item .fh5co-text span {
  text-decoration: none !important;
}

/* line 1714, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item .fh5co-text h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px 0;
  color: #f54c53;
}

/* line 1720, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item .fh5co-text span {
  color: #b3b3b3;
  font-size: 16px;
  font-weight: 400;
}

/* line 1725, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item .fh5co-text p {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 1730, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item:hover, .fh5co-project-item:focus {
  bottom: 7px;
  text-decoration: none;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
}

/* line 1738, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item:hover img, .fh5co-project-item:focus img {
  -webkot-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 1747, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item:hover figure .overlay, .fh5co-project-item:focus figure .overlay {
  opacity: 1;
  visibility: visible;
}

/* line 1750, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item:hover figure .overlay i, .fh5co-project-item:focus figure .overlay i {
  margin-top: -15px;
}

/* line 1755, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-project-item:hover h2, .fh5co-project-item:hover span, .fh5co-project-item:focus h2, .fh5co-project-item:focus span {
  text-decoration: none !important;
}

@media screen and (max-width: 768px) {
  /* line 1766, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .macbook-wrap img {
    max-width: 100%;
  }
}

/* line 1772, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price-box {
  background: #fff;
  border: 2px solid #ECEEF0;
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

/* line 1780, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price-box.popular {
  border: 2px solid #f54c53;
}

/* line 1782, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price-box.popular .popular-text {
  top: 0;
  left: 50%;
  margin-left: -54px;
  margin-top: -2em;
  position: absolute;
  padding: 4px 20px;
  background: #f54c53;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

/* line 1792, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price-box.popular .popular-text:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-top: 10px solid black;
  border-top-color: #f54c53;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 1806, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.pricing-plan {
  margin: 0 0 30px 0;
  padding: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 1813, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price {
  font-size: 50px;
  color: #000;
}

/* line 1816, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price .currency {
  font-size: 20px;
  top: -1.2em;
}

/* line 1820, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.price small {
  font-size: 16px;
}

/* line 1824, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.pricing-info {
  padding: 0;
  margin: 0 0 30px 0;
}

/* line 1827, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.pricing-info li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 1835, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-faq-list {
  margin: 0;
  padding: 0;
}

/* line 1838, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-faq-list li {
  margin: 0 0 40px 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
}

@media screen and (max-width: 768px) {
  /* line 1838, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .fh5co-faq-list li {
    margin: 0 0 20px 0;
  }
}

/* line 1846, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
.fh5co-faq-list li h2 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  /* line 1846, D:/projects/AlphaMart/Capital Life/web/sass/style.scss */
  .fh5co-faq-list li h2 {
    font-size: 26px;
  }
}

/*# sourceMappingURL=../../../../../Capital_Life/sass/style.map */